@media screen, print {
	#mw-element-1737966389142 {
		max-width: 100%;
		width: 680px;
		min-height: 39px;
	}
	#mw-element-1737967496577 {
		max-width: 100%;
	}
	#mw-element-1737967496574 {
		max-width: 100%;
		width: 394px;
		min-height: 162px;
	}
	#mw-element-1737968953022 {
		letter-spacing: 1px;
		font-family: Arial;
	}
	#mw-element-1737968953783 {
		background-color: #000000;
		font-family: Arial;
		font-weight: 700;
		color: #ffffff;
		font-size: 18px;
		max-width: 100%;
	}
	#mw-element-1737968953786 {
		font-family: Arial;
		font-weight: 700;
		color: #ffffff;
		max-width: 100%;
		font-size: 0px;
	}
	#mw-element-1737969553895 {
		max-width: 100%;
		width: 757px;
		height: 646px;
	}
	#mw-element-1737969553896 {
		font-family: Arial;
		letter-spacing: 1px;
	}
	#mw-element-1737969554583 {
		background-color: #000000;
		font-weight: 700;
		font-family: Arial;
		letter-spacing: 1px;
		font-size: 18px;
		color: #ffffff;
		max-width: 100%;
	}
	#mw-element-1737969554586 {
		max-width: 100%;
	}
	#mw-element-1737968953787 {
		max-width: 100%;
		width: 712px;
		height: auto;
	}
	#mw-element-1737969953889 {
		max-width: 100%;
		width: 678px;
		height: auto;
	}
	#mw-element-1737969953893 {
		letter-spacing: 1px;
	}
	#mw-element-1737969954700 {
		font-family: Arial;
		font-weight: 700;
		letter-spacing: 1px;
		color: #ffffff;
		font-size: 18px;
		background-color: #000000;
	}
	#module-layouts-5--1 {
		margin-top: 0px;
		padding-top: 75px;
	}
	#mw-element-1738002316786 {
		text-align: center;
		letter-spacing: nullpx;
		line-height: 48px;
		word-spacing: nullpx;
		color: #d73525;
	}
	#mw-element-1738002317337 {
		line-height: auto;
		letter-spacing: nullpx;
	}
	#mw-element-1738002317338 {
		letter-spacing: nullpx;
		word-spacing: nullpx;
		line-height: auto;
		font-size: 41px;
	}
	#mw-module-1738052604967 {
		margin-top: -75px;
	}
	#mw-element-1738052604969 {
		margin-bottom: -44px;
	}
	#mw-element-1738002317341 {
		margin-bottom: -75px;
	}
	#mw-module-1738052604968 {
		margin-top: -75px;
	}
	#module-layouts-1-slider {
		margin-top: 0px;
	}
}